/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Light background for the page */
}
  
.take-control h1 {
    font-size: 2.5rem;
    color: #333; 
}

/* Section 1 - Take Control */
.take-control {
    background-color: #4d9fc9; /* Green background */
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 8px;
}

.take-control p {
    color: white; /* White text color */
    font-size: 1.1rem;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Section 2 - Features */
.features {
  background-color: #4d9fc9; /* Green background */
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 8px;
}

.features h1 {
  font-size: 2.5rem;
  color: #333; 
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white; /* Dark color for the list items */
}
  